<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>The Bookshop</title>
</head>
<body>
<h1> Online Bookstore</h1>
<p>We have the following books available:</p> <br/>

<table>
    <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Price</th>
    </tr>
    <tr th:each="book: ${booklist}">
        <td th:text="${book.isbn}"/>
        <td th:text="${book.title}"/>
        <td th:text="${book.author}"/>
        <td th:text="${book.publisher}"/>
        <td th:text="${book.price}"/>
    </tr>
</table>
</body>